.header {
  background-image: url(../assets/guitarras_header.jpg);
  background-size: cover;
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: end;
}

ul {
  color: red;
  gap: 10px;
  height: 25px;
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 100%;
  background-color: white;
  height: 50px;
}

li {
  padding: 15px;
  background-color: white;
  text-align: center;
}

li:hover {
  cursor: pointer;
  background-color: red;
  color: black;
}
